<!DOCTYPE html>
<html>
<head>
    <title>页面标题555555555555</title>
    <meta charset="UTF-8">
    <link href="outer.css" rel="stylesheet" type="text/css"/>
</head>
<body>

图书：<input type="text" autofocus name="book" placeholder="请输入。。。"/><br/>
<hr/>
价格：<input type="text" name="price"/>
<hr/>
<mark>被标记的文本</mark>
<hr/>
<time>2012-12-12</time>
<hr/>
<span>一</span><span>一个普通的文本</span><span>一个普通的文本</span>
<div>一行节，三个节</div><div>一行节，三个节</div><div>一行节，三个节</div>
<p>三个段落</p><p>个段落</p><p>个段落</p>
<strong>有多</strong>
<em>这个这个这个这个这个这个</em>
<br/><a href="/pjb.jpg" download="fuci.jpg" >普普通普通</a>
<br/>
<button type="button"><b>提9999999999交</b></button>

</body>
</html>